@import 'block/var.scss';
@import 'block/containers.scss';
@import 'block/display.scss';
@import 'block/keyboard.scss';


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
